<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../static/settingstyle.css">
</head>
<body>
    <div class="form-container">
        <form action="/set" method="post" id="setting" class="form-content">
            <p>Enter Your Shop URL</p>
            <textarea name="shopurl" rows="1" cols="50" class="urlbox" placeholder=" Example: https://hackclub.com/arcade/RandomString/shop/"></textarea>
            <p>Enter Reward Name</p>
            <textarea name="rewardname" rows="1" cols="50" class="urlbox" placeholder="Example: Flipper Zero"></textarea>
            <p>Enter Tickets Required</p>
            <textarea name="rewardticket" rows="1" cols="50" class="urlbox" placeholder="Example: 70" inputmode="numeric"></textarea>
            <p>Enter Reward Image URL</p>
            <textarea name="rewardimage" rows="1" cols="50" class="urlbox" placeholder="Example: https://cloud-p2gdpsmd3-hack-club-bot.vercel.app/0top.png"></textarea>
            
            <input type="submit" value="Submit" class="subbtn">
        </form>
    </div>
</body>
</html>